@import 'tailwindcss';
@import '@milkdown/crepe/theme/common/style.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	/* light theme */
	--main-bg-light-theme: #e5e5e5;
	--card-bg-light-theme: #ffffff;
	--tag-bg-light-theme: #e5e5e5;

	--primary-text-color-light-theme: #151517;

	--dropdown-border-color-light-theme: #e5e5e5;

	--form-icon-color-light-theme: #151517;

	/* dark theme */
	--main-bg-dark-theme: #171717;
	--card-bg-dark-theme: #242424;
	--tag-bg-dark-theme: rgba(229, 229, 229, 0.25);

	--primary-text-color-dark-theme: #ffffff;

	--dropdown-border-color-dark-theme: #7d7d7d;

	--form-icon-color-dark-theme: #ffffff;

	/* neutral */
	--layout-bg: #2d2d2d;

	--secondary-text-color: #e5e5e5;

	--primary-color: #1b4a5a;
	--primary-color-hover: #246276;

	--placeholder-color: #7d7d7d;
	--error-color: #ee4545;
	--layout-color: #2d2d2d;
	--secondary-color: #e5e5e5;
	--disabled-color: rgba(255, 255, 255, 0.25);

	--footer-border-bottom-color: rgba(255, 255, 255, 0.5);
	--field-border-color: #e5e5e5;

	--primary-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	--secondary-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
	--input-filled-shadow: 0px 0px 6px 0px #1b4a5a;

	--bg-blur: blur(4px);
}

@theme inline {
	--background-color-main: var(--main-bg-light-theme);
	--background-color-card: var(--card-bg-light-theme);
	--background-color-tag: var(--tag-bg-light-theme);

	--text-color-main: var(--primary-text-color-light-theme);
	--color-text: var(--primary-text-color-light-theme);

	--stroke-form-icon: var(--form-icon-color-light-theme);

	/* neutral styles for all themes */
	--background-color-layout: var(--layout-bg);

	--text-color-secondary: var(--secondary-text-color);
	--text-color-primary: var(--primary-color);
	--text-color-primary-hover: var(--primary-color-hover);

	--color-primary: var(--primary-color);
	--color-primary-hover: var(--primary-color-hover);
	--color-error: var(--error-color);
	--color-placeholder: var(--placeholder-color);
	--color-secondary: var(--secondary-color);
	--color-layout: var(--layout-color);
	--color-disabled: var(--disabled-color);

	--border-color-primary: var(--primary-color);
	--border-color-footer-bottom: var(--footer-border-bottom-color);
	--border-color-field: var(--field-border-color);

	--backdrop-blur-disabled: var(--bg-blur);

	--z-index-header: 20;
	--z-index-dropdown: 40;
	--z-index-modal: 50;

	--shadow-filled-input: var(--input-filled-shadow);
	--shadow-primary: var(--primary-shadow);
	--shadow-secondary: var(--secondary-shadow);

	--font-title: var(--font-ubuntu);
	--font-text: var(--font-roboto);

	--animate-shine-lines: shine-lines 3s linear 1s infinite;

	@keyframes shine-lines {
		from {
			background-position: 100% 0;
		}
		to {
			background-position: -100% 0;
		}
	}
}

.dark {
	--background-color-main: var(--main-bg-dark-theme);
	--background-color-card: var(--card-bg-dark-theme);
	--background-color-tag: var(--tag-bg-dark-theme);

	--text-color-main: var(--primary-text-color-dark-theme);

	--border-color-primary: var(--primary-color-dark-theme);

	--stroke-form-icon: var(--form-icon-color-dark-theme);
}

html {
	scrollbar-gutter: stable;
}

body {
	@apply font-text transition-colors;
	color: var(--text-color-main);
	background-color: var(--background-color-main);
}

[data-milkdown-root='true'] {
	@apply w-full;
}

.ProseMirror {
	@apply pl-16! pr-0! py-0! md:py-0! md:px-0!;
}

.milkdown-block-handle[data-show='false'] {
	@apply opacity-100! md:opacity-0! left-0! md:-left-10!;
}
.milkdown-block-handle[data-show='true'] {
	@apply left-0! md:-left-19!;
}

.milkdown-block-handle {
	@apply gap-x-1! md:gap-x-0.5;
}

.milkdown-block-handle .operation-item {
	@apply p-0! size-6! md:size-8! md:p-1!;
}

.milkdown {
	@apply rounded-xl min-h-70 transition-colors;
	/* Background Colors */
	--crepe-color-background: #fffdfb; /* Main background color */
	--crepe-color-surface: #fff8f4; /* Surface color for cards/panels */
	--crepe-color-surface-low: #fff1e5; /* Lower surface color for depth */

	/* Text Colors */
	--crepe-color-on-background: #1f1b16; /* Text color on background */
	--crepe-color-on-surface: #201b13; /* Text color on surface */
	--crepe-color-on-surface-variant: #4f4539; /* Secondary text color */

	/* Accent Colors */
	--crepe-color-primary: var(--primary-color); /* Primary brand color */
	--crepe-color-secondary: #fbdebc; /* Secondary accent color */
	--crepe-color-on-secondary: #271904; /* Text color on secondary */

	/* UI Colors */
	--crepe-color-outline: #242424; /* Border/outline color */
	--crepe-color-inverse: #362f27; /* Inverse color for contrast */
	--crepe-color-on-inverse: #fcefe2; /* Text color on inverse */
	--crepe-color-inline-code: var(
		--text-color-secondary
	); /* Inline code color */
	--crepe-color-error: #ba1a1a; /* Error state color */

	/* Interactive Colors */
	--crepe-color-hover: #f9ecdf; /* Hover state color */
	--crepe-color-selected: var(--primary-color-hover); /* Selected state color */
	--crepe-color-inline-area: var(
		--primary-color
	); /* Inline editing area color */

	--crepe-shadow-1: var(--shadow-primary);
}

.dark .milkdown {
	--crepe-color-background: var(
		--background-color-card
	); /* Main background color */
	--crepe-color-surface: var(
		--background-color-card
	); /* Surface color for cards/panels */
	--crepe-color-surface-low: var(
		--background-color-card
	); /* Lower surface color for depth */

	/* Text Colors */
	--crepe-color-on-background: var(
		--text-color-main
	); /* Text color on background */
	--crepe-color-on-surface: var(--text-color-main); /* Text color on surface */
	--crepe-color-on-surface-variant: var(
		--text-color-main
	); /* Secondary text color */

	/* Accent Colors */
	--crepe-color-primary: var(--color-primary); /* Primary brand color */
	--crepe-color-secondary: var(--color-primary); /* Secondary accent color */
	--crepe-color-on-secondary: #271904; /* Text color on secondary */

	/* UI Colors */
	--crepe-color-outline: var(--color-secondary); /* Border/outline color */
	--crepe-color-inverse: #362f27; /* Inverse color for contrast */
	--crepe-color-on-inverse: #fcefe2; /* Text color on inverse */
	--crepe-color-error: #ba1a1a; /* Error state color */

	/* Interactive Colors */
	--crepe-color-hover: var(--color-primary-hover); /* Hover state color */
	--crepe-color-selected: var(--color-primary); /* Selected state color */
}

.milkdown-content p {
	@apply my-6;
}

.milkdown-content h1,
.milkdown-content h2,
.milkdown-content h3,
.milkdown-content h4,
.milkdown-content h5,
.milkdown-content h6 {
	@apply my-4;
}

.milkdown-content ul p,
.milkdown-content ol p {
	@apply m-0;
}

.milkdown-content ul,
.milkdown-content ol {
	@apply my-8 pl-8 list-disc flex flex-col gap-y-2;
}

.milkdown-content pre {
	tab-size: 2;
}

.milkdown-content figure:has(+ img) {
	@apply mb-8;
}

@media (prefers-reduced-motion: reduce) {
}
